django<4.1
django-mptt
django-mptt-admin
django-csp
lxml

# django-taggit==dev due to https://github.com/jazzband/django-taggit/pull/778
https://github.com/jazzband/django-taggit/archive/refs/heads/master.zip

# optional
psycopg2-binary

### Developer resources ###
# django-debug-toolbar
# black
# pyupgrade
# pip-review
