/* reporter */
a.enabled { color: black; cursor: default; font-weight: bold; }
a.enabled:hover { text-decoration: none; }
.panel-body pre { 
  margin: 0;
  background-color: white;
  padding: 0;
  border: none;
} 

/* TwentyTwenty */
.twentytwenty-wrapper {
  margin-top: 2em;
}
.twentytwenty-before-label:before {
    content: "Baseline Image";
}
.twentytwenty-after-label:before {
    content: "Failed Image";
}


/* Bootstrap */
body { padding-top: 50px; }
h5 { font-weight: bold; }


/* branding */
.navbar-brand {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand .icon-obspy {
  font-size: 2em;
  vertical-align: middle;
}

/* missing badge colors */

.badge-danger {
  background-color: #b94a48;
}
.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}


/* missing navbar submenu */
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* footer */

footer {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding-top: 1em;
    text-align: center;
}
