@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fyd6a5');
  src:  url('fonts/icomoon.eot?fyd6a5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fyd6a5') format('truetype'),
    url('fonts/icomoon.woff?fyd6a5') format('woff'),
    url('fonts/icomoon.svg?fyd6a5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appveyor:before {
  content: "\e605";
}
.icon-obspy:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-travis:before {
  content: "\e602";
}
.icon-users:before {
  content: "\e603";
}
.icon-feed:before {
  content: "\e604";
}

