@font-face {
	font-family: 'icomoon';
	src:url('//tests.obspy.org/static/font/fonts/icomoon.eot?k0kuyu');
	src:url('//tests.obspy.org/static/font/fonts/icomoon.eot?#iefixk0kuyu') format('embedded-opentype'),
		url('//tests.obspy.org/static/font/fonts/icomoon.woff?k0kuyu') format('woff'),
		url('//tests.obspy.org/static/font/fonts/icomoon.ttf?k0kuyu') format('truetype'),
		url('//tests.obspy.org/static/font/fonts/icomoon.svg?k0kuyu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-obspy:before {
	content: "\e600";
}
.icon-travis:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e601";
}
.icon-users:before {
	content: "\e603";
}
.icon-feed:before {
	content: "\e604";
}
