{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font/style.css' %}">
    <link href="{% static 'base.css' %}" rel="stylesheet" />

{% block extrahead %}{% endblock %}

    <title>{% block title %}ObsPy - Test Reports{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<div id="wrapper">
{% include 'navbar.html' %}

    <div id="content" class="container">
{% block header %}{% endblock %}

{% block content %}{% endblock %}
    </div>

{% include 'footer.html' %}
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" defer></script>
    <script src="//cdn.jsdelivr.net/jquery.event.move/1.3.5/jquery.event.move.min.js" defer></script>
    <script src="{% static 'base.js' %}" defer></script>
{% block extrafoot %}{% endblock %}
  </body>
</html>
