<footer>
    <p class="text-muted small">
      By the <a href="https://github.com/orgs/obspy/members">ObsPy
        Development Team</a> and many <a href="#contributers" role="button"
        data-toggle="modal" data-target="#contributers">Awesome Contributors</a>™ &nbsp;|&nbsp; Built with
      <a href="http://getbootstrap.com/">Bootstrap</a> and
      <a href="http://glyphicons.com//">Glyphicons</a> &nbsp;|&nbsp; Copyright 2008-{% now "Y" %}
    </p>
</footer>

{% include 'contributors.html' %}
