<p class="muted small">
  By the <a href="https://github.com/obspy?tab=members">ObsPy
    Development Team</a> and many <a href="#contributers" role="button"
    data-toggle="modal">Awesome Contributors</a>™ &nbsp;|&nbsp; Built with
  <a href="http://twitter.github.io/bootstrap/">Twitter
    Bootstrap</a>, <a href="http://www.subtlepatterns.com/">Subtle
    Patterns</a> and <a href="http://aristath.github.com/elusive-iconfont/">Elusive
    Icons</a> &nbsp;|&nbsp; Copyright 2008-{% now "Y" %}
</p>
