{% extends "base.html" %}
{% load staticfiles %}


{% block title %}ObsPy - A Python framework for Seismology{% endblock %}


{% block header %}
  <h1>ObsPy <small>A Python framework for Seismology</small></h1>
{% endblock %}


{% block content %}
    <div class="row">

      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#features"><i class="icon-chevron-right"></i> Features</a></li>
          <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
          <li><a href="#getting-started"><i class="icon-chevron-right"></i> Getting Started</a></li>
          <li><a href="#download"><i class="icon-chevron-right"></i> Download</a></li>
        </ul>
      </div>

      <div class="span9">
          <img class="pull-right" width="180" src="{{ STATIC_URL }}img/obspy_logo_no_text_highres.png" />

        <section id="introduction">
          <p class="lead">ObsPy is a community-driven, open-source project dedicated to
            provide a Python framework for processing seismological data. It
            provides parsers for common file formats, clients to access data
            centers and seismological signal processing routines which allow
            the manipulation of seismological time series (see Beyreuther et
            al. 2010, Megies et al. 2011).</p>
          <p class="lead">The goal of the ObsPy project is to facilitate rapid
            application and workflow development for seismology.</p>


<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=obspy&repo=obspy&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=obspy&repo=obspy&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>


    <a href="https://twitter.com/obspy" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @obspy</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>

        <section id="features">
          <div class="page-header">
            <h1>Features</h1>
          </div>

          <h3>Read and Write Various Waveform Formats</h3>
          <div class="row-fluid">
            <div class="span4">
              <p>ObsPy enables you to painlessly read and write all commonly used waveform data formats with a unified interface. It automatically detects a file's format meaning that you never need to worry about the format of your data again. Simply combine data from heterogeneous sources and get straight to work.</p>
            </div>
            <div class="span4">
              <p>We currently support importing waveform data in MiniSEED, SAC, SEGY, GSE2, GSE1, DATAMARK, CSS, SEISAN, SEG2, SEED, WAV, and the SeismicHandler formats. Most formats can also be exported again. The employed plug-in architecture even enables you to add support for your own custom formats.</p>
            </div>
            <div class="span4">
              <img alt="Kitten!" src="http://placekitten.com/g/275/180" width="275" height="180" />
            </div>
          </div>

          <h3>Webservice and Database Access Clients</h3>
          <div class="row-fluid">
            <div class="span4">
              <img alt="Kitten!" src="http://placekitten.com/g/275/160" width="275" height="160" />
            </div>
            <div class="span4">
              <p>ObsPy offers clients for accessing data from the biggest and most often used datacenters. No matter the origin of the data, the processing within ObsPy does not differ, enabling the easy creation of workflows combining heterogeneous data sets.</p>
            </div>
            <div class="span4">
              <p>It currently supports data retrieval from IRIS, Orfeus, NERIES, and NEIC datacenters and the Earthworm and SeisHub databases. All clients support waveform and oftentimes also station and event metadata downloading, depending on the backend.</p>
            </div>
          </div>

          <h3>Comprehensive Signal Processing Library</h3>
          <div class="row-fluid">
            <div class="span4">
              <p>ObsPy contains a fairly comprehensive seismological signal processing library. It aims to offer all commonly used and agreed upon processing functionality.</p>
            </div>
            <div class="span4">
              <p>It contains various filtering, triggering, rotation, array analysis, instrument correction and simulation, time frequency and many more routines with and intuitive interface.</p>
            </div>
            <div class="span4">
              <img alt="Kitten!" src="http://placekitten.com/g/275/150" width="275" height="150" />
            </div>
          </div>

          <h3>Event and Station Metadata support</h3>
          <div class="row-fluid">
            <div class="span4">
              <img alt="Kitten!" src="http://placekitten.com/g/275/175" width="275" height="175" />
            </div>
            <div class="span4">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="span4">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
          </div>

        </section>


        <section id="examples">
          <div class="page-header">
            <h1>Examples</h1>
          </div>
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <pre class="prettyprint">
>>> from obspy.core import read
>>> st = read('http://examples.obspy.org/RJOB_061005_072159.ehz.new')
>>> print st
1 Trace(s) in Stream:
BW.RJOB..Z | 2005-10-06T07:21:59.849998Z - 2005-10-06T07:24:59.844998Z | 200.0 Hz, 36000 samples
>>> len(st)
1
>>> tr = st[0]  # assign first and only trace to new variable
>>> print tr
BW.RJOB..Z | 2005-10-06T07:21:59.849998Z - 2005-10-06T07:24:59.844998Z | 200.0 Hz, 36000 samples
                </pre>
                <div class="carousel-caption">
                  <p>Effortlessly read and write various waveform file formats</p>
                </div>
              </div>
              <div class="item">
                <pre class="prettyprint">
>>> from obspy.core import read
>>> st = read('http://examples.obspy.org/RJOB_061005_072159.ehz.new')
>>> print st
1 Trace(s) in Stream:
BW.RJOB..Z | 2005-10-06T07:21:59.849998Z - 2005-10-06T07:24:59.844998Z | 200.0 Hz, 36000 samples
>>> len(st)
1
>>> tr = st[0]  # assign first and only trace to new variable
>>> print tr
BW.RJOB..Z | 2005-10-06T07:21:59.849998Z - 2005-10-06T07:24:59.844998Z | 200.0 Hz, 36000 samples
                </pre>
                <div class="carousel-caption">
                  <p>blah blöah blah</p>
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </section>

        <section id="getting-started">
          <div class="page-header">
            <h1>Getting Started</h1>
            <p>The ObsPy Gallery and its related ObsPy Tutorial are
              maybe the best point to get a first impression of what ObsPy
              is all about. The tutorial is a collection of short example
              programs with explanations and program output. For help
              getting started with Python, have a look at this collection of
              links to Tutorials.</p>
          </div>
        </section>


        <section id="download">
          <div class="page-header">
            <h1>Download</h1>
            <p>Choose your operation system or install from source</p>
            
            <div class="row-fluid">
              <div class="span3"><a class="btn btn-large" href="#"><img src="{{ STATIC_URL }}img/linux.png" />Linux Debian/Ubuntu</a></div>
              <div class="span3"><a class="btn btn-large" href="#"><img src="{{ STATIC_URL }}img/apple.png" />Mac OS X</a></div>
              <div class="span3"><a class="btn btn-large" href="#"><img src="{{ STATIC_URL }}img/windows.png" />Windows XP/Vista/7/8</a></div>
              <div class="span3"><a class="btn btn-large" href="#"><img src="{{ STATIC_URL }}img/python.png" />Source</a></div>
            </div>
          </div>

        </section>

      </div>
    </div>
{% endblock %}


{% block extrafoot %}
  <script src="http://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="{% static 'base.js' %}" defer></script>
{% endblock %}
