{% extends "base.html" %}
{% load staticfiles append_to_get %}


{% block title %}{{ block.super }} - Last {{ limit }} reports{% endblock %}


{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS"
  href="{% url 'report_rss' %}" />
{% endblock %}


{% block header %}
  <h1>Test Reports
    <small>Overview of the latest {{ limit }} test reports</small>
  </h1>
{% endblock %}


{% block content %}
<section id="reports">

<div class="row">
  <div class="col-sm-10">

    <form class="form-inline" role="form" action="{% url 'index' %}" method="get">
      <div class="checkbox">
        <select name="limit" class="form-control input-sm" onchange="submit();">
{% for value in limits %}
          <option value="{{ value }}"{% if value == limit %} selected="selected"{% endif %}>{{ value }}</option>
{% endfor %}
        </select>
        <label for="limit">records per page</label>
      </div>

      <div class="pull-right">
        <label class="radio-inline">
          <input type="radio" name="show" value="" onchange="submit();"
            {% if not show %}checked="checked"{% endif %}>
            show all
        </label>
        <label class="radio-inline">
          <input type="radio" name="show" value="errors" onchange="submit();"
            {% if show == 'errors' %}checked="checked"{% endif %}>
            errors only
        </label>
      </div>
    </form>

    <br />

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Report</th>
          <th>Errors /<br/>Failures</th>
          <th>ObsPy<br />Version</th>
          <th class="hidden-xs">Tests</th>
          <th class="hidden-xs">Modules</th>
          <th class="hidden-xs">Node<br />Name</th>
          <th class="hidden-xs">Python<br />Version</th>
          <th class="hidden-xs">System</th>
          <th class="hidden-xs hidden-sm">Finished</th>
        </tr>
      </thead>
      <tbody>
{% for report in reports %}
        <tr class="{{ report.status }}">
          <td>
            <i class="text-{{ report.status }} {{ report.status_icon }}"></i>
            <a class="text-{{ report.status }}" href="{% url 'report_html' report.pk %}"><small>#</small>{{ report.id }}</a>
          </td>
          <td>{{ report.sum|default:'<span class="muted">-</span>' }}</td>
          <td>
            {% if report.is_git %}
            <a href="https://github.com/obspy/obspy/tree/{{ report.installed }}">{{ report.installed }}</a>
            {% else %}
            {{ report.installed|default:'Unknown' }}
            {% endif %}
          </td>
          <td class="hidden-xs">{{ report.tests }}</td>
          <td class="hidden-xs">{{ report.modules }}</td>
          <td class="hidden-xs">{{ report.node }}</td>
          <td class="hidden-xs">{{ report.version }}</td>
          <td class="hidden-xs">{{ report.system }} ({{ report.architecture }})</td>
          <td class="hidden-xs hidden-sm"><span data-livestamp="{{ report.timestamp }}">{{ report.datetime|timesince }} ago</span></td>
        </tr>
{% endfor %}
      </tbody>
    </table>

    <ul class="pager">
    {% if reports.has_previous %}
      <li class="previous"><a href="{% append_to_get page=reports.previous_page_number %}">&laquo; Newer</a></li>
    {% else %}
      <li class="previous disabled"><a href="">&laquo; Newer</a></li>
    {% endif %}
    
      <li>Page {{ reports.number }} of {{ reports.paginator.num_pages }}</li>
    
    {% if reports.has_next %}
      <li class="next"><a href="{% append_to_get page=reports.next_page_number %}">Older &raquo;</a></li>
    {% else %}
      <li class="next disabled"><a href="">Older &raquo;</a></li>
    {% endif %}
    </ul>

  </div>
  <div class="col-sm-2">

    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <h5>System</h5>
        <input type="hidden" name="system" value="{{ system }}" />
        <ul>
          <li><a href="{% append_to_get system='' %}"{% if not system %} class="enabled"{% endif %}>all</a></li>
{% for value in systems %}
          <li><a href="{% append_to_get system=value %}"{% if system == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>
        <h5>Architecture</h5>
        <input type="hidden" name="architecture" value="{{ architecture }}" />
        <ul>
          <li><a href="{% append_to_get architecture='' %}"{% if not architecture %} class="enabled"{% endif %}>all</a></li>
{% for value in architectures %}
          <li><a href="{% append_to_get architecture=value %}"{% if architecture == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>

        <h5>Python</h5>
        <input type="hidden" name="version" value="{{ version }}" />
        <ul>
          <li><a href="{% append_to_get version='' %}"{% if not version %} class="enabled"{% endif %}>all</a></li>
{% for value in versions %}
          <li><a href="{% append_to_get version=value %}"{% if version == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>

        <h5>Selected Nodes</h5>
        <input type="hidden" name="node" value="{{ node }}" />
        <ul>
          <li>
            <a href="{% append_to_get node='' %}"{% if not node %} class="enabled"{% endif %}>all</a>
            <small><a href="{% url 'report_rss' %}"><i class="icon-rss"></i></a></small></li>
{% for value in nodes %}
          <li>
            <a href="{% append_to_get node=value,version='',architecture='',system='' %}"{% if node == value %} class="enabled"{% endif %}>{{ value }}</a>
            <small><a href="{% url 'report_rss_selectednode' name=value %}"><i class="icon-feed"></i></a></small>
          </li>
{% endfor %}
        </ul>

      </div>
    </div>

  </div>
</div>
</section>
{% endblock %}


{% block extrafoot %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js" defer></script>
<script src="{% static 'libs/livestamp.min.js' %}" defer></script>
{% endblock %}
