{% extends "base.html" %}
{% load static append_to_get %}


{% block title %}{{ block.super }} - Last {{ limit }} reports{% endblock %}


{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS"
  href="{% url 'core_rss' %}" />
{% endblock %}


{% block header %}
  <h1>Test reports
    <small>Overview of the latest {{ limit }} test reports</small>
  </h1>
{% endblock %}


{% block content %}
<section id="reports">

<div class="row">
  <div class="col-md-10">

    <form class="form-inline" role="form" action="{% url 'core_index' %}" method="get">
      <div class="checkbox">
        <select name="limit" class="form-control input-sm onchange-submit">
{% for value in limits %}
          <option value="{{ value }}"{% if value == limit %} selected="selected"{% endif %}>{{ value }}</option>
{% endfor %}
        </select>
        <label for="limit">records per page</label>
      </div>

      <div class="pull-right">
        <label class="radio-inline">
          <input type="radio" name="show" value="" class="onchange-submit"
            {% if not show %}checked="checked"{% endif %}>
            show all
        </label>
        <label class="radio-inline">
          <input type="radio" name="show" value="errors" class="onchange-submit"
            {% if show == 'errors' %}checked="checked"{% endif %}>
            errors only
        </label>
      </div>
    </form>

    <br />

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Report</th>
          <th title="Number of reported errors/failures">Errors</th>
          <th>ObsPy version</th>
          <th class="hidden-xs" title="GitHub pull request URL">PR</th>
          <th class="hidden-xs" title="Number of executed tests">Tests</th>
          <th class="hidden-xs" title="Number of tested modules">Mods</th>
          <th class="hidden-xs" title="Test node name">Node</th>
          <th class="hidden-xs" title="Python version">Python</th>
          <th class="hidden-xs">System</th>
          <th class="hidden-xs hidden-sm">Finished</th>
        </tr>
      </thead>
      <tbody>
{% for report in reports %}
        <tr class="{{ report.status }}">
          <td>
            <i class="text-{{ report.status }} {{ report.status_icon }}"></i>
            <a class="text-{{ report.status }}" href="{% url 'core_html' report.pk %}"><small>#</small>{{ report.id }}</a>
          </td>
          <td>{{ report.sum|default:'<span class="muted">-</span>' }}</td>
          <td>
            {% if report.is_git %}
            <a href="https://github.com/obspy/obspy/tree/{{ report.git_commit_hash }}" title="{{ report.installed }}">{{ report.installed|truncatechars:35 }}</a>
            {% else %}
            <span title="{{ report.installed }}">{{ report.installed|default:'Unknown'|truncatechars:35 }}</span>
            {% endif %}
          </td>
          <td class="hidden-xs">
            {% if report.prurl_number %}
              <a href="{{ report.prurl }}">#{{ report.prurl_number }}</a>
            {% else %}
              <span class="muted">-</span>
            {% endif %}
          </td>
          <td class="hidden-xs">{{ report.executed_tests }}</td>
          <td class="hidden-xs">{{ report.modules }}</td>
          <td class="hidden-xs">{{ report.node }}</td>
          <td class="hidden-xs">{{ report.version }}</td>
          <td class="hidden-xs">{{ report.system }} ({{ report.architecture }})</td>
          <td class="hidden-xs hidden-sm"><span data-livestamp="{{ report.timestamp }}">{{ report.datetime|timesince }} ago</span></td>
        </tr>
{% endfor %}
      </tbody>
    </table>

    <ul class="pager">
    {% if reports.has_previous %}
      <li class="previous"><a href="{% append_to_get page=reports.previous_page_number %}">&laquo; Newer</a></li>
    {% else %}
      <li class="previous disabled"><a href="">&laquo; Newer</a></li>
    {% endif %}
    
      <li>Page {{ reports.number }} of {{ reports.paginator.num_pages }}</li>
    
    {% if reports.has_next %}
      <li class="next"><a href="{% append_to_get page=reports.next_page_number %}">Older &raquo;</a></li>
    {% else %}
      <li class="next disabled"><a href="">Older &raquo;</a></li>
    {% endif %}
    </ul>

  </div>
  <div class="col-md-2">

        <h5>Selected nodes</h5>
        <input type="hidden" name="node" value="{{ node }}" />
        <ul class="list-inline filter">
          <li class="text-nowrap">
            <a href="{% append_to_get node='' %}"{% if not node %} class="enabled"{% endif %}>all</a>
            <small><a href="{% url 'core_rss' %}"><i class="icon-rss"></i></a></small>
          </li>
{% for value in nodes %}
          <li class="text-nowrap">
            <a href="{% append_to_get node=value,version='',architecture='',system='' %}"{% if node == value %} class="enabled"{% endif %}>{{ value }}</a>
            <small><a href="{% url 'core_rss_selectednode' name=value %}"><i class="icon-feed"></i></a></small>
          </li>
{% endfor %}
        </ul>

        <h5>System</h5>
        <input type="hidden" name="system" value="{{ system }}" />
        <ul class="list-inline filter">
          <li><a href="{% append_to_get system='' %}"{% if not system %} class="enabled"{% endif %}>all</a></li>
{% for value in systems %}
          <li><a href="{% append_to_get system=value %}"{% if system == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>
        <h5>Architecture</h5>
        <input type="hidden" name="architecture" value="{{ architecture }}" />
        <ul class="list-inline filter">
          <li><a href="{% append_to_get architecture='' %}"{% if not architecture %} class="enabled"{% endif %}>all</a></li>
{% for value in architectures %}
          <li><a href="{% append_to_get architecture=value %}"{% if architecture == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>

        <h5>Python</h5>
        <input type="hidden" name="pyversion" value="{{ pyversion }}" />
        <ul class="list-inline filter">
          <li><a href="{% append_to_get pyversion='' %}"{% if not pyversion %} class="enabled"{% endif %}>all</a></li>
{% for value in pyversions %}
          <li><a href="{% append_to_get pyversion=value %}"{% if pyversion == value %} class="enabled"{% endif %}>{{ value }}</a></li>
{% endfor %}
        </ul>

        <h5>Other filter options</h5>
        <ul class="filter">
          <li><code>?pr=...</code></li>
          <li><code>?module=...</code></li>
          <li><code>?git=...</code></li>
        </ul>

  </div>
</div>
</section>
{% endblock %}


{% block extrafoot %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js" integrity="sha256-8r65KJgULBDiZhwDydfWrEkx3yyV/grGsGzaekobngI=" crossorigin="anonymous"></script>
{% endblock %}
