{% load static cache %}
{% cache 5000000 rendered_menu %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><span class="icon-obspy"></span>&nbsp;ObsPy</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="search" method="get" action="http://docs.obspy.org/search.html">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Docs" name="q">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
{% for node in menu %}
{% if node.is_leaf_node %}
        <li><a href="{{ node.url }}">{% if node.icon %}<span class="{{ node.icon }}"></span>&nbsp;{% endif %}{{ node.name }}</a></li>
{% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if node.icon %}<span class="{{ node.icon }}"></span>&nbsp;{% endif %}{{ node.name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
{% for child in node.children %}
{% if child.is_leaf_node %}
  {% if child.name == '-' %}
    <li class="divider"></li>
  {% elif not child.url %}
    <li class="dropdown-header">{{ child.name }}</li>
  {% else %}
    <li><a href="{{ child.url }}">{% if child.icon %}<span class="{{ child.icon }}"></span>&nbsp;{% endif %}{{ child.name }}</a></li>
  {% endif %}
{% else %}
    <li class="dropdown-submenu">
      <a href="#">{% if child.icon %}<span class="{{ child.icon }}"></span>&nbsp;{% endif %}{{ child.name }}</a>
      <ul class="dropdown-menu">

{% for child1 in child.children %}
  {% if child1.name == '-' %}
    <li class="divider"></li>
  {% elif not child1.url %}
    <li class="dropdown-header">{{ child1.name }}</li>
  {% else %}
    <li><a href="{{ child1.url }}">{% if child1.icon %}<span class="{{ child1.icon }}"></span>&nbsp;{% endif %}{{ child1.name }}</a></li>
  {% endif %}
{% endfor %}

      </ul>
    </li>
{% endif %}
{% endfor %}
          </ul>
        </li>
{% endif %}
{% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endcache %}