{% extends "base.html" %}
{% load static %}


{% block title %}{{ block.super }} - Report #{{ report.pk }}{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css" integrity="sha256-2Wze5epdlzF8qLSkEqbpZ54nJACNd5Vk87ymLv9vcqw=" crossorigin="anonymous" />
{% endblock %}


{% block extrafoot %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js" integrity="sha256-fqXzZX48vO+Q2Uz6Wkh3veStRw4i24PfRgW7twugCxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js" integrity="sha256-D2l9+EHv9C1Jk7FXmUNFnbtmFHowHewFTkbZTnzqdsg=" crossorigin="anonymous"></script>
<script src="{% static 'report.js' %}"></script>
{% endblock %}


{% block header %}
  <h1>
    #{{ report.pk }}
    <small>
      Report by node <b>{{ report.node }}</b> covering
      <b>{{ report.tests }}</b> tests from
      <b>{{ report.modules }}</b> modules resulted into
      <b>{{ report.sum|default:'no' }}</b> error{{ report.sum|pluralize }}
    </small>
  </h1>
{% endblock %}


{% block content %}
<section id="report">
<ul class="pager">
{% if report.next_id %}
  <li class="previous"><a href="{% url 'report_html' report.next_id %}">&laquo; Next</a></li>
{% else %}
  <li class="previous disabled"><a href="{% url 'report_html' report.id %}">&laquo; Next</a></li>
{% endif %}
  <li><a href="/">Return to Overview</a></li>
{% if report.previous_id %}
  <li class="next"><a href="{% url 'report_html' report.previous_id %}">Previous &raquo;</a></li>
{% else %}
  <li class="next disabled"><a href="{% url 'report_html' report.id %}">Previous &raquo;</a></li>
{% endif %}
</ul>


<div class="row">
  <div class="col-md-4">
    <h3>Report</h3>
{% if one_version %}
    <dl class="dl-horizontal">
      <dt>ObsPy version</dt>
      <dd title="{{ report.installed }}">
        {% if report.is_git %}
        <a href="https://github.com/obspy/obspy/tree/{{ report.git_commit_hash }}">{{ report.installed|truncatechars:30 }}</a>
        {% else %}
        {{ report.installed|truncatechars:30 }}
        {% endif %}
      </dd>
    </dl>
{% endif %}
    <dl class="dl-horizontal">
      <dt>Continuous Integration</dt>
      <dd>
{% if report.ciurl %}
        <a href="{{ report.ciurl }}">{{ report.ciurl }}</a>
{% else %}
        <span class="muted">-</span>
{% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>GitHub Pull Request</dt>
      <dd>
{% if report.prurl_number %}
        <a href="{{ report.prurl }}">{{ report.prurl }}</a>
{% else %}
        <span class="muted">-</span>
{% endif %}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Report file</dt>
      <dd><a href="{% url 'report_xml' report.pk %}">XML document</a></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Total runtime</dt>
      <dd>{{ report.timetaken|floatformat }} sec</dd>
      <dt>Report date/time</dt>
      <dd>{{ report.datetime }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h3>System / Python</h3>
    <dl class="dl-horizontal">
{% for item in platform %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
  <div class="col-md-4">
    <h3>Dependencies</h3>
    <dl class="dl-horizontal">
{% for item in dependencies %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
</div>


<div class="status-icon pull-right text-{{ report.status }} {{ report.status_icon }}"></div>
<h3>Modules <small>({{ report.modules }})</small></h3>
<table id="modules" class="table table-hover table-condensed tablesorter">
  <thead>
    <tr>
      <th>Module</th>
{% if not one_version %}
      <th class="hidden-xs">Version</th>
{% endif %}
      <th>Errors / Failures</th>
      <th class="col-md-1 hidden-xs">Tests</th>
      <th class="col-md-1 hidden-xs">Executed tests</th>
      <th class="col-md-1 hidden-xs">Skipped tests</th>
      <th class="col-md-1 hidden-xs">Runtime</th>
      <th class="col-md-4">Tracebacks</th>
    </tr>
  </thead>
  <tbody>
{% for module in modules %} 
    <tr class="{{ module.status }}">
      <td>{{ module.name }}</td>
{% if not one_version %}
      <td class="hidden-xs">{{ module.version }}</td>
{% endif %}
{% if module.tested %}
      <td>{{ module.sum|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-xs">{{ module.tests }}</td>
      <td class="hidden-xs">{{ module.executed_tests|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-xs">
      {% if module.skipped %}
        {% if skipped_tests %}
          <a href="#skippedtests">{{ module.skipped }}</a>
        {% else %}
          {{ module.skipped }}
        {% endif %}
      {% else %}
        <span class="muted">-</span>
      {% endif %}
      </td>
      <td class="hidden-xs">{{ module.timetaken|floatformat }}s</td>
{% else %}
      <td class="muted">Not&nbsp;tested</td>
      <td class="hidden-xs"><span class="muted">-</span></td>
      <td class="hidden-xs"><span class="muted">-</span></td>
      <td class="hidden-xs"><span class="muted">-</span></td>
      <td class="hidden-xs"><span class="muted">-</span></td>
{% endif %}
      <td>
{% for traceback in module.tracebacks %}
        <a href="#{{ traceback.id }}"><span class="badge badge-{{ traceback.status }}">{{ traceback.id }}</span></a>
{% empty %}
        <span class="muted">-</span>
{% endfor %}
      </td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Summary</th>
{% if not one_version %}
      <th class="hidden-xs"></th>
{% endif %}
      <th>{{ report.sum|default:'<span class="muted">-</span>' }}</th>
      <th class="hidden-xs">{{ report.tests }}</th>
      <th class="hidden-xs">{{ report.executed_tests }}</th>
      <th class="hidden-xs">
      {% if report.skipped %}
        {% if skipped_tests %}
          <a href="#skippedtests">{{ report.skipped }}</a>
        {% else %}
          {{ report.skipped }}
        {% endif %}
      {% else %}
        <span class="muted">-</span>
      {% endif %}
      </th>
      <th class="hidden-xs">{{ report.timetaken|floatformat }}s</th>
      <th>{{ tracebacks|length|default:'<span class="muted">-</span>' }}</th>
    </tr>
  </tfoot>
</table>

{% if tracebacks %}
<h3>Tracebacks <small>({{ tracebacks|length }})</small></h3>
<div class="panel-group">
{% for traceback in tracebacks %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#{{ traceback.id }}"><span class="badge badge-{{ traceback.status }}">{{ traceback.id }}</span></a>
        <a data-toggle="collapse" href="#{{ traceback.id }}">{{ traceback.module }}</a>
      </h3>
    </div>
    <div id="{{ traceback.id }}" class="panel-body collapse in">
      <pre>{{ traceback.log|safe }}</pre>
{% if traceback.imgurs %}
      <div class="twentytwenty-container">
        <img src="{{ traceback.imgurs.0 }}" alt="Expected Image" />
        <img src="{{ traceback.imgurs.1 }}" alt="Actual Image" />
      </div>
{% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if skipped_tests %}
<h3 id="skippedtests">Skipped tests <small>({{ skipped_tests|length }})</small></h3>
<table class="table table-hover">
  <tr>
    <th class="col-xs-1">Submodule</th>
    <th>Test</th>
    <th>Skip message</th>
  </tr>
{% for test in skipped_tests %}
  <tr>
    <td>{{ test.0 }}</td>
    <td>{{ test.3 }} ({{ test.1 }}.{{ test.2 }})</td>
    <td>{{ test.4 }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if slowest_tests %}
<h3>Slowest tests <small>({{ slowest_tests|length }})</small></h3>
<table class="table table-hover">
  <tr>
    <th class="col-xs-1">Runtime</th>
    <th>Test</th>
  </tr>
{% for test in slowest_tests %}
  <tr>
    <td>{{ test.0 }}</td>
    <td>{{ test.1 }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if log %}
<h3>Install Log</h3>
<pre>{{ log }}</pre>
{% endif %}
</section>

{% if icndb %}
<h3>Chuck Norris fact</h3>
<p>{{ icndb }}</p>
{% endif %}
{% endblock %}
