{% extends "base.html" %}


{% block title %}{{ block.super }} - Report #{{ report.pk }}{% endblock %}


{% block extrahead %}
<script type="text/javascript">
  var shiftWindow = function() { scrollBy(0, -90) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);
</script>
{% endblock %}


{% block header %}
  <h1>
    #{{ report.pk }}
    <small>
      Test report by node <b>{{ report.node }}</b> covering
      <b>{{ report.tests }}</b> test cases from
      <b>{{ report.modules }}</b> modules resulted into
      <b>{{ report.sum|default:'no' }}</b> error{{ report.sum|pluralize }}
    </small>
  </h1>
{% endblock %}


{% block content %}
<section id="report">
<ul class="pager">
{% if report.next_id %}
  <li class="previous"><a href="{% url 'report_html' report.next_id %}">&laquo; Next</a></li>
{% else %}
  <li class="previous disabled"><a href="{% url 'report_html' report.id %}">&laquo; Next</a></li>
{% endif %}
  <li><a href="/">Return to Overview</a></li>
{% if report.previous_id %}
  <li class="next"><a href="{% url 'report_html' report.previous_id %}">Previous &raquo;</a></li>
{% else %}
  <li class="next disabled"><a href="{% url 'report_html' report.id %}">Previous &raquo;</a></li>
{% endif %}
</ul>


<div class="row">
  <div class="span5">
    <h3>Report</h3>
    <dl class="dl-horizontal">
{% if one_version %}
      <dt>ObsPy Version</dt>
      <dd>
        {% if report.is_git %}
        <a href="https://github.com/obspy/obspy/tree/{{ report.installed }}">{{ report.installed }}</a>
        {% else %}
        {{ report.installed }}
        {% endif %}
      </dd>
{% endif %}
      <dt>Report File</dt>
      <dd><a href="{% url 'report_xml' report.pk %}">XML Document</a></dd>
      <dt>Node Name</dt>
      <dd>{{ report.node }}</dd>
      <dt>Total Runtime</dt>
      <dd>{{ report.timetaken|floatformat }} sec</dd>
      <dt>Finished</dt>
      <dd>{{ report.datetime }}</dd>
    </dl>
    <h3>Dependencies</h3>
    <dl class="dl-horizontal">
{% for item in dependencies %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
  <div class="span5">
    <h3>System / Python</h3>
    <dl class="dl-horizontal">
{% for item in platform %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
  <div class="span2">
    <h3 style="font-size: 100px; padding-top: 50px;" class="pull-right text-{{ report.status }} {{ report.status_icon }}"></h3>
  </div>
</div>


<h3>Modules <small>({{ report.modules }})</small></h3>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Module</th>
{% if not one_version %}
      <th class="hidden-phone">Version</th>
{% endif %}
      <th>Errors /<br />Failures</th>
      <th class="hidden-phone">Skipped</th>
      <th class="hidden-phone">Tests</th>
      <th class="hidden-phone">Runtime</th>
      <th>Tracebacks</th>
    </tr>
  </thead>
  <tbody>
{% for module in modules %} 
    <tr class="{{ module.status }}">
      <td>{{ module.name }}</td>
{% if not one_version %}
      <td class="hidden-phone">{{ module.version }}</td>
{% endif %}
{% if module.tested %}
      <td>{{ module.sum|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-phone">{{ module.skipped|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-phone">{{ module.tests }}</td>
      <td class="hidden-phone">{{ module.timetaken|floatformat }} sec</td>
{% else %}
      <td class="muted">Not tested</td>
      <td class="hidden-phone" colspan="3"> </td>
{% endif %}
      <td>
{% for traceback in module.tracebacks %}
        <a href="#{{ traceback.id }}"><span class="label label-{{ traceback.label }}">#{{ traceback.id }}</span></a>
{% empty %}
        <span class="muted">-</span>
{% endfor %}
      </td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Summary</th>
{% if not one_version %}
      <th class="hidden-phone"></th>
{% endif %}
      <th>{{ report.sum|default:'<span class="muted">-</span>' }}</th>
      <th class="hidden-phone">{{ report.skipped|default:'<span class="muted">-</span>' }}</th>
      <th class="hidden-phone">{{ report.tests }}</th>
      <th class="hidden-phone">{{ report.timetaken|floatformat }} sec</th>
      <th>{{ tracebacks|length }}</th>
    </tr>
  </tfoot>
</table>

{% if tracebacks %}
<h3>Tracebacks <small>({{ tracebacks|length }})</small></h3>
<div class="accordion">
{% for traceback in tracebacks %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-inner">
        <a href="#{{ traceback.id }}"><span class="label label-{{ traceback.label }}">#{{ traceback.id }}</span></a>
        <a class="text-{{ traceback.status }}"
           data-toggle="collapse" href="#{{ traceback.id }}">
          <strong>{{ traceback.module }}</strong>
        </a>
      </div>
    </div>
    <div id="{{ traceback.id }}" class="accordion-body collapse in">
        <pre>{{ traceback.log|safe }}</pre>
{% if traceback.imgurs %}
        <div class="twentytwenty-container">
          <img src="{{ traceback.imgurs.0 }}" alt="Baseline Image" />
          <img src="{{ traceback.imgurs.1 }}" alt="Failing Image" />
        </div>
{% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if log %}
<h3>Install Log</h3>
<pre>{{ log }}</pre>
{% endif %}
</section>
{% endblock %}
