{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ block.super }} - Report #{{ report.pk }}{% endblock %}


{% block extrahead %}
<link href="{% static 'libs/twentytwenty/css/twentytwenty.css' %}" rel="stylesheet" />
<script type="text/javascript">
  var shiftWindow = function() { scrollBy(0, -90) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);
</script>
{% endblock %}


{% block extrafoot %}
<script src="{% static 'libs/twentytwenty/js/jquery.twentytwenty.js' %}" defer></script>
{% endblock %}


{% block header %}
  <h1>
    #{{ report.pk }}
    <small>
      Report by node <b>{{ report.node }}</b> covering
      <b>{{ report.tests }}</b> tests from
      <b>{{ report.modules }}</b> modules resulted into
      <b>{{ report.sum|default:'no' }}</b> error{{ report.sum|pluralize }}
    </small>
  </h1>
{% endblock %}


{% block content %}
<section id="report">
<ul class="pager">
{% if report.next_id %}
  <li class="previous"><a href="{% url 'report_html' report.next_id %}">&laquo; Next</a></li>
{% else %}
  <li class="previous disabled"><a href="{% url 'report_html' report.id %}">&laquo; Next</a></li>
{% endif %}
  <li><a href="/">Return to Overview</a></li>
{% if report.previous_id %}
  <li class="next"><a href="{% url 'report_html' report.previous_id %}">Previous &raquo;</a></li>
{% else %}
  <li class="next disabled"><a href="{% url 'report_html' report.id %}">Previous &raquo;</a></li>
{% endif %}
</ul>


<div class="row">
  <div class="col-md-4">
    <h3>Report</h3>
    <dl class="dl-horizontal">
{% if one_version %}
      <dt style="margin-bottom: 0.5em;">ObsPy Version</dt>
      <dd style="margin-bottom: 0.5em;" title="{{ report.installed }}">
        {% if report.is_git %}
        <a href="https://github.com/obspy/obspy/tree/{{ report.git_commit_hash }}">{{ report.installed|truncatechars:30 }}</a>
        {% else %}
        {{ report.installed|truncatechars:30 }}
        {% endif %}
      </dd>
{% endif %}
{% if ciurl %}
      <dt>Continuous Integration</dt>
      <dd><a href="{{ ciurl }}">{{ ciurl }}</a></dd>
{% endif %}
{% if prurl %}
      <dt>GitHub Pull Request</dt>
      <dd><a href="{{ prurl }}">{{ prurl }}</a></dd>
{% endif %}
      <dt style="margin-bottom: 0.5em;">Report File</dt>
      <dd style="margin-bottom: 0.5em;"><a href="{% url 'report_xml' report.pk %}">XML Document</a></dd>
      <dt>Total Runtime</dt>
      <dd>{{ report.timetaken|floatformat }} sec</dd>
      <dt>Finished</dt>
      <dd>{{ report.datetime }}</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <h3>System / Python</h3>
    <dl class="dl-horizontal">
{% for item in platform %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
  <div class="col-md-4">
    <h3>Dependencies</h3>
    <dl class="dl-horizontal">
{% for item in dependencies %} 
      <dt>{{ item.0 }}</dt>
      <dd>{{ item.1 }}</dd>
{% endfor %}
    </dl>
  </div>
</div>


<div style="font-size: 3em;" class="pull-right text-{{ report.status }} {{ report.status_icon }}"></div>
<h3>Modules <small>({{ report.modules }})</small></h3>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Module</th>
{% if not one_version %}
      <th class="hidden-xs">Version</th>
{% endif %}
      <th>Errors /<br />Failures</th>
      <th class="hidden-xs">Skipped<br/>Tests</th>
      <th class="hidden-xs">Tests<br />(total)</th>
      <th class="hidden-xs">Runtime<br />(total)</th>
      <th>Tracebacks</th>
    </tr>
  </thead>
  <tbody>
{% for module in modules %} 
    <tr class="{{ module.status }}">
      <td>{{ module.name }}</td>
{% if not one_version %}
      <td class="hidden-xs">{{ module.version }}</td>
{% endif %}
{% if module.tested %}
      <td>{{ module.sum|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-xs">{{ module.skipped|default:'<span class="muted">-</span>' }}</td>
      <td class="hidden-xs">{{ module.tests }}</td>
      <td class="hidden-xs">{{ module.timetaken|floatformat }}s</td>
{% else %}
      <td class="muted">Not tested</td>
      <td class="hidden-xs" colspan="3"> </td>
{% endif %}
      <td>
{% for traceback in module.tracebacks %}
        <a href="#{{ traceback.id }}"><span class="badge badge-{{ traceback.status }}">{{ traceback.id }}</span></a>
{% empty %}
        <span class="muted">-</span>
{% endfor %}
      </td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Summary</th>
{% if not one_version %}
      <th class="hidden-xs"></th>
{% endif %}
      <th>{{ report.sum|default:'<span class="muted">-</span>' }}</th>
      <th class="hidden-xs">{{ report.skipped|default:'<span class="muted">-</span>' }}</th>
      <th class="hidden-xs">{{ report.tests }}</th>
      <th class="hidden-xs">{{ report.timetaken|floatformat }}s</th>
      <th>{{ tracebacks|length }}</th>
    </tr>
  </tfoot>
</table>

{% if tracebacks %}
<h3>Tracebacks <small>({{ tracebacks|length }})</small></h3>
<div class="panel-group">
{% for traceback in tracebacks %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="text-{{ traceback.status }}"
           data-toggle="collapse" href="#{{ traceback.id }}">
          <span class="badge badge-{{ traceback.status }}">{{ traceback.id }}</span>
          {{ traceback.module }}
        </a>
      </h4>
    </div>
    <div id="{{ traceback.id }}" class="panel-body collapse in">
      <pre>{{ traceback.log|safe }}</pre>
{% if traceback.imgurs %}
      <div class="twentytwenty-container">
        <img src="{{ traceback.imgurs.0 }}" alt="Baseline Image" />
        <img src="{{ traceback.imgurs.1 }}" alt="Failing Image" />
      </div>
{% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if slowest_tests %}
<h3>Slowest Tests</h3>
<table class="table table-hover">
  <tr>
    <th>Runtime</th>
    <th>Test</th>
  </tr>
{% for test in slowest_tests %}
  <tr>
    <td>{{ test.0 }}</td>
    <td>{{ test.1 }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if log %}
<h3>Install Log</h3>
<pre>{{ log }}</pre>
{% endif %}
</section>

{% if icndb %}
<h3>Chuck Norris Fact</h3>
<p>{{ icndb }}</p>
{% endif %}
{% endblock %}
