{% load staticfiles %}

<div id="getting-started-header" class="col-md-4">
    <p style="text-align: right; font-weight: 900; font-size: 230%">CURIOUS?</p>
    <p><span style="font-weight:800">3 STEPS</span> TO GET STARTED,</p>
    <p style="text-align: right">JOIN <span style="font-weight:800">THOUSANDS OF OTHERS</span>,</p>
    <p style="color: #a10000; font-weight:800">AND BECOME A HAPPY SEISMOLOGIST!</p>
</div>
<div class="col-md-8">
    <div class="panel panel-success">
        <div class="panel-heading"><strong>1. INSTALL</strong></div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{% static 'img/sand.jpg' %}" alt="laptop">
                </div>
                <div class="media-body media-middle">
                    <p>
                        ObsPy works on machines from big to small, from large supercomputers to the tiny
                        Raspberry Pi. It runs perfectly fine on <code>Windows</code>, <code>Linux</code>,
                        <code>Unix</code>, <code>OSX</code>, and is completely free to use on all of them.
                    </p>
                    <p style="text-align:center">
                        <strong>
                            <a href="https://github.com/obspy/obspy/wiki#installation">
                                Click here for installation instructions for all platform.
                            </a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading"><strong>2. LEARN</strong></div>
        <div class="panel-body">
            <div class="media">
                <div class="media-body media-middle">
                    <p>
                        Learn ObsPy by having a look at our
                        <a href="http://docs.obspy.org/tutorial/index.html">tutorial</a>,
                        <a href="http://docs.obspy.org/gallery.html">gallery</a>,
                        <a href="http://docs.obspy.org">documentation</a>,
                        <a href="https://github.com/obspy/docs">workshop materials</a>, and a
                        <a href="https://www.youtube.com/watch?v=kFwdjfiK4gk">video introduction</a>.
                        If your Python skills are lacking, improve them by using a large number of online resources (
                        <a href="https://learnpythonthehardway.org/book/">1</a>,
                        <a href="http://www.diveintopython.net/">2</a>,
                        <a href="https://docs.python.org/2/tutorial/index.html">3</a>,
                        <a href="http://www.greenteapress.com/thinkpython/thinkpython.html">4</a>,
                        <a href="http://www.scipy-lectures.org/">5</a>,
                        <a href="http://www.labri.fr/perso/nrougier/teaching/numpy/numpy.html">6</a>,
                        <a href="http://www.labri.fr/perso/nrougier/teaching/matplotlib/matplotlib.html">7</a>).
                        Also make sure to join
                        <a href="http://lists.swapbytes.de/mailman/listinfo/obspy-users">our mailing list</a> to stay
                        up-to-date and be able to ask for help if you ever get stuck somewhere. There is also a chat button
                        at the bottom right of this page!
                    </p>
                </div>
                <div class="media-right media-middle">
                    <img class="media-object" src="{% static 'img/books.jpg' %}" alt="books">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading"><strong>3. USE</strong></div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{% static 'img/rocket.jpg' %}" alt="rocket">
                </div>
                <div class="media-body media-middle">
                    <p>
                        You are now ready to accelerate your science! Depending on your problem, make sure to checkout out
                        a curated list of
                        <a href="https://github.com/obspy/obspy/wiki#use-cases--applications-using-obspy">projects utilizing
                            ObsPy</a>,
                        as well as papers that produce insights with the help of ObsPy:
                        <a href="https://scholar.google.de/scholar?cites=14340313791097274856">1</a>,
                        <a href="https://scholar.google.de/scholar?cites=11799560152216664274">2</a>, and
                        <a href="https://scholar.google.de/scholar?cites=14382546556791972278">3</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
