<div class="panel panel-success">
    <div class="panel-heading"><strong>LATEST NEWS</strong></div>
    <div class="panel-body">
        <ul>
            <li><span class="label label-default">Aug 03 2016</span> <strong>ObsPy 1.0.2</strong></li>
            <li><span class="label label-default">Mar 24 2016</span> <strong>ObsPy 1.0.1</strong></li>
            <li><span class="label label-default">Feb 19 2016</span> <strong>ObsPy 1.0.0</strong></li>
        </ul>
        <a href="#news">More news...</a>
    </div>
</div>
<div class="panel panel-success" id="short-news-twitter">
    <div class="panel-heading">
        <strong>
            FOLLOW <a target="_black" href="https://twitter.com/obspy">@OBSPY</a> ON TWITTER
        </strong>
    </div>
    <div class="panel-body">
        <a class="twitter-timeline"
           data-width="700"
           data-height="1500"
           data-dnt="true"
           data-theme="light"
           data-chrome="transparent nofooter noheader noborders"
           href="https://twitter.com/obspy">Tweets by obspy</a>
    </div>
</div>
